{% load static %}
<nav class="navbar bg-body-tertiary">
	<div class="container">
		<div class="d-flex justify-content-between w-100">
			<div class="navbar-brand mb-0 h1">MSF Assignment</div>
			<div class="nav-item dropdown">
				<a
					class="nav-link dropdown-toggle"
					href="#"
					role="button"
					data-bs-toggle="dropdown"
					aria-expanded="false">
					<img
						class="img-fluid"
						src="{% static '/images/user.png' %}"
						alt=""
						width="25" />
				</a>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item fw-bold" href="#">Admin Admin</a></li>
					<li><a class="dropdown-item" href="#">Settings</a></li>
					<li><hr class="dropdown-divider" /></li>
					<li><a class="dropdown-item" href="#">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
