{% extends 'base.html' %}
<!--  -->
{% load crispy_forms_tags %}

<!--  -->
{% block title %} Login {% endblock %}
<!--  -->
{% block content %}
<div class="text-center mb-5">
	<h1 class="">MSF APP</h1>
</div>
<div class="row">
	<div class="col"></div>
	<div class="col-12 col-lg-6">
		<div class="card p-5">
			<div class="card-body">
				<h2 class="fs-4 mb-3">Login</h2>
				<form action="{% url 'login' %}" method="post">
					{% csrf_token %}
					<!--  -->
					{{ form|crispy }}
					<div>
						<button class="btn btn-sm btn-primary">Login</button>
					</div>
				</form>
				<div class="my-3 small">
					<p>
						Have no Account?

						<a href="{% url 'signup' %}">Sign Up</a> for Free.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col"></div>
</div>
{% endblock %}
